@import url(https://fonts.googleapis.com/css?family=Space+Mono);

.center {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.image {
  border: 1px solid black;
}

body {
  font-family: "Space Mono";
}

h1 {
  font-size: 2rem;
  margin: 0.67em 0;
  text-align: center;
}

table.perf {
  width: 12em;
  table-layout: fixed;
}

td {
  padding-top: 10px;
  text-align: center;
}
